{% extends "users/base.html" %}
{% block content %}
    <br>
    <div id="chat-log"
         style="background-color: whitesmoke; color: #1B2430;width: 100%;height: 500px;margin-left: 1%;padding: 1%;overflow-y: scroll">
        {% for message in messages %}
            {% if message.sender_user == user %}
                <div style="float: right">
                    {{ message.sender_user }} | {{ message.message }}
                </div>
            {% else %}
                <div style="float: left">
                    {{ message.sender_user }} : {{ message.message }}
                </div>
            {% endif %}
            <br>
        {% endfor %}
    </div>
    <div style="margin-left: 1%; padding-top: 1%">
        <input id="chat-message-input" type="text" size="60" style="width: 85%">&nbsp;
        <input id="chat-message-submit" type="button" , value="Send"
               style="width: 13%; color: white; background-color: #1B2430">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {{ room_name | json_script: "room-name" }}
    <script>
        var sender = '{{ sender_id }}';
        var receiver = '{{ receiver_id }}';
        var sender_name = '{{ sender_name }}';
        var user = '{{ user }}'

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            if (data.sender_name === user) {
                $("#chat-log").append("<div style='float: right'>" + data.sender_name + " : " + data.message + "</div><br>");
            } else {
                $("#chat-log").append("<div style='float: left'>" + data.sender_name + " : " + data.message + "</div><br>");
            }
            $("#chat-log").scrollTop($("#chat-log")[0].scrollHeight);
        }

        chatSocket.onclose = function (e) {
            console.log('Error', e)
            console.error('Chat socket closed unexpectedly');
        }
    </script>
{% endblock %}
